# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environments
.venv/
env/
venv/

# Airflow logs & configs
airflow/logs/
airflow/airflow.db
airflow/unittests.cfg
airflow/__pycache__/

# Environment files
.env

# Docker
*.pid
*.bak
*.swp
docker-compose.override.yml

# Data & outputs
data/*.csv
dashboard/*.html

# IDEs
.vscode/
.idea/
*.iml

# Ignore macOS system files anywhere
.DS_Store

# Ignore specific files inside airflow folder
airflow/airflow.cfg
airflow/webserver_config.py
